{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:prettier/recommended",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "airbnb/hooks",
        "airbnb",
        "react-app",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["prettier", "react", "@typescript-eslint", "react-hooks"],
    "rules": {
        "prettier/prettier": "warn",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "indent": "off",
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
        "import/no-unresolved": [2, { "caseSensitive": false }],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "react/prop-types": [0],
        "react/jsx-props-no-spreading": [0]
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
