{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:prettier/recommended",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "airbnb/hooks",
        "airbnb",
        "react-app",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["prettier", "react", "@typescript-eslint"],
    "rules": {
        "prettier/prettier": "warn",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "indent": ["error", 4],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }]
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
